<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<link rel="icon" href="{{media_site}}/img/ico.png" type="image/png" />
 
	<head> 
		<link type="text/css" rel="stylesheet" media="all" href="{{media_site}}/style/style.css"/>
		{% block extracss %}{% endblock %}
		
		<script type="text/javascript" src="{{ media_site }}/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="{{ media_site }}/js/script.js"></script>
		{% block extrajs %}{% endblock %}

		<meta name="robots" content="{% block robots %}index,follow{% endblock %}" />
		
		<title>{% block title %}{{site.name}}{% endblock %}</title>
	</head>
	<body>
		{% include "menu-top.html" %}
		
		
		
		<div id="banner">
			<h1><a href="/">{{site.name}}</a></h1>
		</div>
		
		{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
		{% endif %}
		
			<div id="actions">
				{% block actions %}{% endblock %}
			</div>
			<div id="content">

				

				{% block content %}{% endblock %}

				{% block footer %}
					<div id="serious">
					<MAP name="map" id="serious-map">
					<AREA shape="polygon" coords="70,25,83,33,36,83,21,71" href="http://serious-works.org">
					 </MAP>
				    <img usemap="#map" src="{{media_site}}/img/misenweb.gif" id="serious-info">
				    </div> 
    			{% endblock %}
			</div>
		

	</body>
</html>